.modal-block {
    position: fixed;
    height: 100vw;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
}

.modal-block-content {
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-size {
    font-size: 14px;
    line-height: 15px;
}
