.back-red {
    background-color: red;
    width: 12%!important;
    color: #FFFFFF;
}

.red {
    padding: 1%;
    cursor: pointer;
}

.back-blue {
    background-color: #0d6efd!important;
    width: 12%!important;
    color: #FFFFFF;
}

.blue {
    padding: 1%;
    cursor: pointer;
}

span {
    cursor: pointer;
}

.btn-position {
    margin-right: 1px;
}

input, .height {
    height: 3vw;
}

.text-start-top {
    padding-top: 1%!important;
}

.bi {
    margin-bottom: -14%;
}
