.modal-block {
    position: absolute;
    height: 100vw;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 2;
}

.modal-block-content {
    position: relative;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
}