.width-date {
    width: 10vw!important;
}

.period-top {
    padding-top: 0.9vw!important;
}

.period-width {
    width: 1vw!important;
    margin-right: 0.7vw!important;
}

.hr-line {
    width: 61vw!important;
}