.container-fluid {
    background-color: #F0F0F0;
}

.radius-1v {
    border-radius: 1vw!important;
}

.radius-2v {
    border-radius: 2vw!important;
}

img {
    width: 100%;
}

.cursor {
    cursor: pointer;
}