.height-pt {
    padding-top: 0.7vw!important;
}

.font-size-12 {
    font-size: 12px;
}

.sidebar-border-top {
    border-top-right-radius: 1vw!important;
    border-top-left-radius: 1vw!important;
}

.sidebar-border-bottom {
    border-bottom-right-radius: 1vw!important;
    border-bottom-left-radius: 1vw!important;
}

.bi-paperclip {
    transform: rotate(50deg)!important;
}

.tags-size {
    font-size: 70%!important;
}

.border-title {
    border-radius: 1vw 1vw 0 0;
}

.bg-dropdown {
    background-color: #FFFFFF!important;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-11 {
    font-size: 11px;
}

.upload-header-active {
    background-color: #0d6efd;
    color: #FFFFFF;
}
