.height {
    height: 3vw!important;
    padding-top: 0.7vw!important;
}

.font-size-12 {
    font-size: 12px;
}

.cursor {
    cursor: pointer;
}

.sidebar-border-top {
    border-top-right-radius: 1vw!important;
    border-top-left-radius: 1vw!important;
}

.sidebar-border-bottom {
    border-bottom-right-radius: 1vw!important;
    border-bottom-left-radius: 1vw!important;
}

.radius-2v {
    border-radius: 2vw!important;
}

.custom-file-input {
    color: transparent;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'UPLOAD';
    color: #007bff;
    display: inline-block;
    border: 1px solid #007bff;
    border-radius: 2vw;
    padding: 0.3vw 2vw;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 12pt;
}

.bi-paperclip {
    transform: rotate(50deg)!important;
}

.tags-size {
    font-size: 70%!important;
}

.border-title {
    border-radius: 1vw 1vw 0 0;
}

.bg-dropdown {
    background-color: #FFFFFF!important;
}
.font-size-14 {
    font-size: 14px;
}

.font-size-13 {
    font-size: 13px;
}

.start-radius {
    border-radius: 1vw 0 0 1vw;
}

.end-radius {
    border-radius: 0 1vw 1vw 0;
}

.upload-header-active {
    background-color: #0d6efd;
    color: #FFFFFF;
}