.header-back {
    background-image: url("./images/image_merc.png");
    background-size: cover;
    height: 300px;
}

.content-container {
    background-color: #F0F0F0;
}

.content-position {
    background-color: white;
    border-radius: 1vw;
    width: 62vw!important;
    position: relative;
    top: -85px;
}

.content-position, .card, .accordion-item {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
}

.position-bottom {
    padding-right: 15px;
}

.btn-home {
    border-radius: 2vw!important;
}

.reset_button {
    display: flex;
    cursor: pointer;
}

.dropdown {
    padding: 0 0 0 50px!important;
}

.cards {
    margin-top: -50px!important;
}

.title-position {
    position: relative;
    left: 25px;
}

.cards-position {
    position: relative;
    left: 27px;
}

.btn-title {
    background-color: #FFFFFF!important;
    color: #000000!important;
}

.card_profile {
    margin-left: 5px;
}

.card {
    border-radius: 1vw!important;
}