.header-back {
    background-image: url("./images/image_merc.png");
    background-size: cover;
    height: 19vw;
}

.content-container {
    background-color: #F0F0F0;
}

.content-position {
    background-color: white;
    border-radius: 1vw;
    width: 62vw!important;
    position: relative;
    top: -6vw;
}

.content-position, .card, .accordion-item {
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.2);
}

.position-bottom {
    padding-right: 1vw;
}

.btn-home {
    border-radius: 2vw!important;
}

.reset_button {
    display: flex;
    cursor: pointer;
}

.cards {
    margin-top: -3vw!important;
}

.row-position {
    width: 94vw;
    position: relative;
    left: 3%;
}

.cards-position {
    position: relative;
    left: 3%;
}

.btn-title {
    background-color: #FFFFFF!important;
    color: #000000!important;
}

.card_profile {
    margin-left: 5%;
}

.card {
    border-radius: 1vw!important;
}

.card-icon {
    cursor: pointer;
}
